# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/*.log

# IDEs
.vscode/
.idea/
*.swp

# Build
dist/
build/
*.egg-info/

# Prefect
.prefect/
